-- MySQL dump 10.13  Distrib 9.0.1, for Win64 (x86_64)
--
-- Host: localhost    Database: IssueTickets
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `clients`
--

DROP TABLE IF EXISTS `clients`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clients` (
  `ClientID` int NOT NULL AUTO_INCREMENT,
  `ClientName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`ClientID`)
) ENGINE=InnoDB AUTO_INCREMENT=23 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clients`
--

LOCK TABLES `clients` WRITE;
/*!40000 ALTER TABLE `clients` DISABLE KEYS */;
INSERT INTO `clients` VALUES (1,'DIB'),(2,'Ideas Pvt Ltd'),(3,'Quality time'),(4,'Woodcorp'),(5,'SM Cotton'),(6,'Dadex'),(7,'Ajmal Enterprises'),(8,'Jhulay Lal cotton'),(9,'Synegery Corporation'),(10,'Workshop'),(11,'AS Agro'),(12,'Office'),(13,'Qamar Enterprises'),(14,'AMS supplies'),(15,'Synergy Corporation'),(16,'Yard'),(17,'Maheen Rheman'),(18,'Parveen Khalid'),(19,'Britlite'),(20,'Bank'),(21,'Other'),(22,'New customer - potential');
/*!40000 ALTER TABLE `clients` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `departments`
--

DROP TABLE IF EXISTS `departments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `departments` (
  `DepartmentID` int NOT NULL AUTO_INCREMENT,
  `DepartmentName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`DepartmentID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `departments`
--

LOCK TABLES `departments` WRITE;
/*!40000 ALTER TABLE `departments` DISABLE KEYS */;
INSERT INTO `departments` VALUES (1,'Mechanical'),(2,'Electrical'),(3,'Accounts'),(4,'Admin'),(5,'Sales');
/*!40000 ALTER TABLE `departments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `generators`
--

DROP TABLE IF EXISTS `generators`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `generators` (
  `GeneratorID` int NOT NULL AUTO_INCREMENT,
  `RMGNo` varchar(255) DEFAULT NULL,
  `KVA` int DEFAULT NULL,
  `EngineType` varchar(255) DEFAULT NULL,
  `Internal` tinyint(1) DEFAULT NULL,
  `EngineCondition` varchar(255) DEFAULT NULL,
  `EngineLocation` varchar(255) DEFAULT NULL,
  `Particulars` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`GeneratorID`)
) ENGINE=InnoDB AUTO_INCREMENT=33 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `generators`
--

LOCK TABLES `generators` WRITE;
/*!40000 ALTER TABLE `generators` DISABLE KEYS */;
/*!40000 ALTER TABLE `generators` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issuerecognitions`
--

DROP TABLE IF EXISTS `issuerecognitions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `issuerecognitions` (
  `IssueRecognitionID` int NOT NULL AUTO_INCREMENT,
  `IssueRecognitionName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`IssueRecognitionID`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issuerecognitions`
--

LOCK TABLES `issuerecognitions` WRITE;
/*!40000 ALTER TABLE `issuerecognitions` DISABLE KEYS */;
INSERT INTO `issuerecognitions` VALUES (1,'Daily meeting'),(2,'Sporadic');
/*!40000 ALTER TABLE `issuerecognitions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `issues`
--

DROP TABLE IF EXISTS `issues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `issues` (
  `IssueID` int NOT NULL AUTO_INCREMENT,
  `IssueName` varchar(255) DEFAULT NULL,
  `Remarks` varchar(600) DEFAULT NULL,
  PRIMARY KEY (`IssueID`)
) ENGINE=InnoDB AUTO_INCREMENT=46 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `issues`
--

LOCK TABLES `issues` WRITE;
/*!40000 ALTER TABLE `issues` DISABLE KEYS */;
/*!40000 ALTER TABLE `issues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `people`
--

DROP TABLE IF EXISTS `people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `people` (
  `PersonID` int NOT NULL AUTO_INCREMENT,
  `PersonName` varchar(255) DEFAULT NULL,
  `Details` varchar(255) DEFAULT NULL,
  `DepartmentID` int DEFAULT NULL,
  PRIMARY KEY (`PersonID`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `people`
--

LOCK TABLES `people` WRITE;
/*!40000 ALTER TABLE `people` DISABLE KEYS */;
INSERT INTO `people` VALUES (1,'Tanveer Alam','Mechanical Incharge',1),(2,'Muhammad Irshad','Electrical Incharge',2),(3,'Abdul Waseem','Operations incharge',4),(4,'Syed Zahid','Manager Sales',5),(5,'Umer Nawaz','Head of Operations',4),(6,'Shamir Raza','Manager Accounts',3),(7,'Shahid Pervaid','Painter',1),(8,'Asher Ali','Jr. Admin',4),(9,'Niaz Muhammad','Fabricater',1),(10,'Muhajid Abbas','Assistant Mechanic',1);
/*!40000 ALTER TABLE `people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `priorities`
--

DROP TABLE IF EXISTS `priorities`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `priorities` (
  `PriorityID` int NOT NULL AUTO_INCREMENT,
  `PriorityName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`PriorityID`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `priorities`
--

LOCK TABLES `priorities` WRITE;
/*!40000 ALTER TABLE `priorities` DISABLE KEYS */;
INSERT INTO `priorities` VALUES (1,'Critical'),(2,'Urgent'),(3,'High'),(4,'Medium'),(5,'Low');
/*!40000 ALTER TABLE `priorities` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `statuses`
--

DROP TABLE IF EXISTS `statuses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `statuses` (
  `StatusID` int NOT NULL AUTO_INCREMENT,
  `StatusName` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`StatusID`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `statuses`
--

LOCK TABLES `statuses` WRITE;
/*!40000 ALTER TABLE `statuses` DISABLE KEYS */;
INSERT INTO `statuses` VALUES (1,'Closed'),(2,'Open'),(3,'Void');
/*!40000 ALTER TABLE `statuses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `summary`
--

DROP TABLE IF EXISTS `summary`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `summary` (
  `SummaryID` int NOT NULL AUTO_INCREMENT,
  `TicketID` int DEFAULT NULL,
  `UpdateDate` datetime NOT NULL,
  `UpdateText` text NOT NULL,
  PRIMARY KEY (`SummaryID`),
  KEY `TicketID` (`TicketID`),
  CONSTRAINT `summary_ibfk_1` FOREIGN KEY (`TicketID`) REFERENCES `tickets` (`TicketID`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `summary`
--

LOCK TABLES `summary` WRITE;
/*!40000 ALTER TABLE `summary` DISABLE KEYS */;
/*!40000 ALTER TABLE `summary` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickets`
--

DROP TABLE IF EXISTS `tickets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickets` (
  `TicketID` int NOT NULL AUTO_INCREMENT,
  `StartDate` date DEFAULT NULL,
  `TicketGenerationTime` time DEFAULT NULL,
  `TicketResolutionTime` time DEFAULT NULL,
  `GeneratorID` int DEFAULT NULL,
  `IssueID` int DEFAULT NULL,
  `ClientID` int DEFAULT NULL,
  `TicketTypeID` int DEFAULT NULL,
  `IssueRecognitionID` int DEFAULT NULL,
  `PriorityID` int DEFAULT NULL,
  `AssignedTo` int DEFAULT NULL,
  `DepartmentID` int DEFAULT NULL,
  `StatusID` int DEFAULT NULL,
  `CompletedDate` date DEFAULT NULL,
  `TimeTakenDays` time DEFAULT NULL,
  `PendingDays` time DEFAULT NULL,
  `Remarks` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`TicketID`),
  KEY `GeneratorID` (`GeneratorID`),
  KEY `IssueID` (`IssueID`),
  KEY `ClientID` (`ClientID`),
  KEY `TicketTypeID` (`TicketTypeID`),
  KEY `IssueRecognitionID` (`IssueRecognitionID`),
  KEY `PriorityID` (`PriorityID`),
  KEY `AssignedTo` (`AssignedTo`),
  KEY `DepartmentID` (`DepartmentID`),
  KEY `StatusID` (`StatusID`),
  CONSTRAINT `tickets_ibfk_1` FOREIGN KEY (`GeneratorID`) REFERENCES `generators` (`GeneratorID`),
  CONSTRAINT `tickets_ibfk_2` FOREIGN KEY (`IssueID`) REFERENCES `issues` (`IssueID`),
  CONSTRAINT `tickets_ibfk_3` FOREIGN KEY (`ClientID`) REFERENCES `clients` (`ClientID`),
  CONSTRAINT `tickets_ibfk_4` FOREIGN KEY (`TicketTypeID`) REFERENCES `tickettypes` (`TicketTypeID`),
  CONSTRAINT `tickets_ibfk_5` FOREIGN KEY (`IssueRecognitionID`) REFERENCES `issuerecognitions` (`IssueRecognitionID`),
  CONSTRAINT `tickets_ibfk_6` FOREIGN KEY (`PriorityID`) REFERENCES `priorities` (`PriorityID`),
  CONSTRAINT `tickets_ibfk_7` FOREIGN KEY (`AssignedTo`) REFERENCES `people` (`PersonID`),
  CONSTRAINT `tickets_ibfk_8` FOREIGN KEY (`DepartmentID`) REFERENCES `departments` (`DepartmentID`),
  CONSTRAINT `tickets_ibfk_9` FOREIGN KEY (`StatusID`) REFERENCES `statuses` (`StatusID`)
) ENGINE=InnoDB AUTO_INCREMENT=126 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickets`
--

LOCK TABLES `tickets` WRITE;
/*!40000 ALTER TABLE `tickets` DISABLE KEYS */;
/*!40000 ALTER TABLE `tickets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tickettypes`
--

DROP TABLE IF EXISTS `tickettypes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tickettypes` (
  `TicketTypeID` int NOT NULL AUTO_INCREMENT,
  `TicketTypeName` varchar(255) DEFAULT NULL,
  `Remarks` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`TicketTypeID`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tickettypes`
--

LOCK TABLES `tickettypes` WRITE;
/*!40000 ALTER TABLE `tickettypes` DISABLE KEYS */;
INSERT INTO `tickettypes` VALUES (1,'BreakDown',NULL),(2,'Cleaning Issues',NULL),(3,'Operator Related',NULL),(4,'Repair',NULL),(5,'Outside Work for client','This is work we do for our clients that we charge them for. This is a profit generating head'),(6,'Trouble shooting',NULL),(7,'Stolen cable issue',NULL),(8,'Visit',NULL),(9,'Welding',NULL),(10,'Depricated-Bank',NULL),(11,'Depricated-BriteLite',NULL),(12,'Other',NULL),(13,'Purchase',NULL),(14,'Maintenance',NULL),(15,'Installation',NULL),(16,'CRM',NULL),(17,'Complain',NULL);
/*!40000 ALTER TABLE `tickettypes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2024-08-23 11:57:05
