<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket Report</title>
</head>
<body>
    <h1>Ticket Report</h1>
    <table border="1">
        <tr>
            <th>Ticket ID</th>
            <th>Start Date</th>
            <th>Generation Time</th>
            <th>Resolution Time</th>
            <th>Generator Name</th>
            <th>Issue Name</th>
            <th>Client Name</th>
            <th>Ticket Type</th>
            <th>Issue Recognition</th>
            <th>Priority</th>
            <th>Assigned To</th>
            <th>Department</th>
            <th>Status</th>
            <th>Completed Date</th>
            <th>Time Taken (Days)</th>
            <th>Pending Days</th>
            <th>Remarks</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ ticket.TicketID }}</td>
            <td>{{ ticket.StartDate }}</td>
            <td>{{ ticket.TicketGenerationTime }}</td>
            <td>{{ ticket.TicketResolutionTime }}</td>
            <td>{{ ticket.GeneratorName }}</td>
            <td>{{ ticket.IssueName }}</td>
            <td>{{ ticket.ClientName }}</td>
            <td>{{ ticket.TicketTypeName }}</td>
            <td>{{ ticket.IssueRecognitionName }}</td>
            <td>{{ ticket.PriorityName }}</td>
            <td>{{ ticket.AssignedToName }}</td>
            <td>{{ ticket.DepartmentName }}</td>
            <td>{{ ticket.StatusName }}</td>
            <td>{{ ticket.CompletedDate }}</td>
            <td>{{ ticket.TimeTakenDays }}</td>
            <td>{{ ticket.PendingDays }}</td>
            <td>{{ ticket.Remarks }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/add_ticket">Add New Ticket</a>
</body>
</html>
